* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgba(12, 16, 21, 1);
    font-family: "Inter", sans-serif;
}

img {
    width: 152px;
    height: 152px;
    object-fit: cover;
    z-index: 6;
}

#cover { 
    position:fixed; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0; 
    background:#000; 
    opacity: 0.75;
    z-index: 5;
    display: none;
}

.container {
    display: flex;
    width: 1110px;
}

.swiper-wrapper-pagination {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 534px;
    height: 516px;
    text-align: center;
    margin-top: 143px;
}

.pagination-item {
    cursor: pointer;
}

.swiper-container-text .swiper-slide {
    padding: 20px;
}

.swiper-slide h1 {
    color: white;
    width: 318px;
    padding-top: 49px;
    margin-left: 50px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 4%;
}

.swiper-slide h2 {
    color: red;
    margin-top: 7px;
    width: 318px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 400;
}

.swiper-slide p {
    color: white;
    margin-top: 26px;
    width: 420px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.swiper-wrapper-text {
    width: 532px;
    height: 516px;
    background-color: rgba(36, 41, 47, 1);
    margin-top: 143px;
    z-index: 10;
}